page-contact {

  ion-header {
    ion-title {
      float: left;
      margin-top: 12px;
    }

    button {
      float: right;
    }
  }

  ion-content {
    background-image: url(../../assets/img/backgrounds/corrida.jpg);
    background-position: 65% center;
    background-size: cover;

    ion-list.profile-list {

      .profile-item {
        background-color: rgba(255, 255, 255, 0.7);

        ion-label {
          color: #444;
          font-weight: 500;
        }
      }

      .profile-pic {

        ion-label {
          text-align: -webkit-center;
        }
        .profile-img {
          /* make a square container */
          width: 250px;
          height: 250px;

          /* fill the container, preserving aspect ratio, and cropping to fit */
          background-size: cover;

          /* center the image vertically and horizontally */
          background-position: center;

          /* round the edges to a circle with border radius 1/2 container size */
          border-radius: 50%;
        }
      }

    }

  }

}
