<ion-header>
  <ion-navbar color="main" >
    <button *ngIf="!pushed" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="contact">{{ contact | userName:'full' }}</ion-title>
    <button *ngIf="isOwnProfile()" ion-button icon-only margin-right class="more" (click)="manage()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="profile-list" *ngIf="contact">
    <ion-item text-center class="profile-item profile-pic">
      <div class="profile-img" [style.background-image]="'url(assets/img/users/'+contact.last_name+'.jpg)'">
        <!-- <img src="assets/img/users/{{contact.last_name}}.jpg"/> -->
      </div>
    </ion-item>

    <ion-item *ngIf="contact.birth_date" item-content text-right  class="profile-item">
      <label float-left>Idade:</label>
      {{ contact.birth_date | age }}
    </ion-item>

    <ion-item *ngIf="contact.height" item-content text-right  class="profile-item">
      <label float-left>Altura:</label>
      {{ contact.height | number:'.2' | replace:'.':',' }} m
    </ion-item>

    <ion-item *ngIf="contact.weight" item-content text-right  class="profile-item">
      <label float-left>Peso:</label>
      {{ contact.weight | number:'.1' | replace:'.':',' }} kg
    </ion-item>

    <ion-item *ngIf="contact.fat_percent" item-content text-right  class="profile-item">
      <label float-left>Gordura corporal:</label>
      {{ contact.fat_percent | number:'.1' | replace:'.':',' }} %
    </ion-item>

    <ion-item *ngIf="contact.weight && contact.height" item-content text-right  class="profile-item">
      <label float-left>IMC:</label>
      {{ contact.weight | imc:contact.height | number:'.1' | replace:'.':',' | categoryImc }}
    </ion-item>

    <ion-item *ngIf="contact.goal" item-content text-right class="profile-item profile-text">
      <ion-label floating>Objetivo:</ion-label>
      <ion-textarea
        [value]="contact.goal"
        >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="contact.info" item-content text-right class="profile-item profile-text">
      <ion-label floating>Informações:</ion-label>
      <ion-textarea
        [value]="contact.info"
        >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="contact.limitations" item-content text-right class="profile-item profile-text">
      <ion-label floating>Limitações:</ion-label>
      <ion-textarea
        [value]="contact.limitations"
        >
      </ion-textarea>
    </ion-item>

<!--     <ion-item *ngIf="contact.info" item-content text-right class="profile-item profile-text">
      <ion-label floating>Info:</ion-label>
      <ion-textarea
        [value]="contact.info"
        >
      </ion-textarea>
    </ion-item> -->

    <ion-item *ngIf="contact.phone"
      item-content text-right
      class="profile-item"
      (tap)="sendToPhoneContacts(contact)">
      <label float-left>Contato:</label>
      {{ contact.phone | formatNumber:'(XX) XXXXX-XXXX' }}
    </ion-item>

    <ion-item item-content text-right  class="profile-item">
      <label float-left>E-mail:</label>
      {{ contact.email }}
    </ion-item>

    <ion-item *ngIf="contact.created_at" item-content text-right  class="profile-item">
      <label float-left>Membro desde:</label>
      {{ contact.created_at | date:'dd/MM/yyyy' }}
    </ion-item>

  </ion-list>
</ion-content>
