page-contact {

  ion-header {
    ion-title {
      float: left;
    }

    button {
      float: right;
    }
  }

  ion-content {
    background: url('../assets/img/backgrounds/corrida.jpg');
    background-position: 65% center;
    background-size: cover;

    ion-list.profile-list {

      .profile-item {
        background-color: rgba(255, 255, 255, 0.8);

        ion-label {
          color: #444;
          font-weight: 500;
        }
      }

      .profile-text {
        ion-label {
          text-align: left;
        }
      }

      .profile-pic {

        ion-label {
          text-align: -webkit-center;
        }

        .profile-img {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
        }
      }

    }

  }

}
