<ion-header onload="console.log('load')">
  <ion-navbar color="main" >
    <button *ngIf="!pushed" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <button *ngIf="isOwnProfile()" ion-button icon-only margin-right color="light" (click)="manage()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="profile-list" *ngIf="contact">
    <ion-item text-center class="profile-item profile-pic">
      <div class="profile-img" [style.background-image]="'url(../assets/img/users/'+contact.last_name+'.jpg)'">
        <!-- <img src="../assets/img/users/{{contact.last_name}}.jpg"/> -->
      </div>
    </ion-item>
    <ion-item item-content text-right  class="profile-item">
      <label float-left>Nome:</label>
      {{ contact.first_name | slice:0:20 }}
    </ion-item>
    <ion-item item-content text-right  class="profile-item">
      <label float-left>Idade:</label>
      {{ contact.birth_date | age }}
    </ion-item>
    <ion-item item-content text-right  class="profile-item">
      <label float-left>Altura:</label>
      {{ contact.height | number:'.2' | replace:'.':',' }} m
    </ion-item>
    <ion-item item-content text-right  class="profile-item">
      <label float-left>Peso:</label>
      {{ contact.weight | number:'.1' | replace:'.':',' }} kg
    </ion-item>
    <ion-item item-content text-right  class="profile-item">
      <label float-left>Membro desde:</label>
      {{ contact.created_at | date:'dd/MM/yyyy' }}
    </ion-item>
  </ion-list>
</ion-content>
