page-home {

  ion-content {
    background-image: url("../../assets/img/backgrounds/musculacao.jpg");
    background-position: 60% center;
    background-size: cover;

    .user-card {
      background-color: rgba(255, 255, 255, 0.75);

      ion-card-header {
        color: color($colors, main);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }

      ion-card-content {
        .user-pic {
          padding: 2px;

          img {
            box-shadow: 3px 3px 8px #444;
            border-radius: 10px;  // partially rounded corners
            // border-radius: 100%; // full circular image

          }
        }

        .user-data {

          p {
            color: color($colors, main);
            font-size: 16px;
            font-weight: 600;

            &:first-child {
              font-size: 20px;
            }

          }
        }
      }
    }

    .scroll-content {
      overflow-y: hidden;
    }


    .workout-list {
      background-color: rgba(255, 255, 255, 0.75);

      ion-card-header {
        color: color($colors, main);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: -10px;
      }

      .workout-card {
          margin-top: 10px;

          ion-card-header {
            font-size: 16px;
          }

          &:first-child {
          }
      }

    }

    // .content-background {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   opacity: 0.6;
    // }
  }



}
