<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-right text-uppercase margin-horizontal>
      Treino App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card class="user-card">
    <ion-card-header>
      Meu Perfil
    </ion-card-header>

    <ion-card-content *ngIf="user">
      <div class="user-pic"><img src="../assets/img/fb_pic.jpg" /></div>
      <div class="user-data">
        <p>Nome: <b>{{ (user.first_name + ' ' + user.last_name) | slice:0:20 }}</b></p>
        <p>Idade: <b>{{ user.birth_date | date:"dd/MM/yyyy" }}</b></p>
        <p>Altura: <b>{{ user.height | number:'.2' | replace:'.':',' }} m</b></p>
        <p>Peso: <b>{{ user.weight | number:'.1' | replace:'.':',' }} kg</b></p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let workout of workouts | activeOnly" class="workout-card" (click)="openWorkout(workout)">
    <ion-card-header>
      <strong>{{workout.name | uppercase}}</strong>
    </ion-card-header>

    <ion-card-content>
      <p>Modalidade: <b>{{workout.modality.name}}</b></p>
      <p>Exercícios: <b>{{workout.exercises?.length}}</b></p>
      <p><b>{{workout.schedule | weekday }}</b></p>
    </ion-card-content>
  </ion-card>

</ion-content>
