page-home {

  .user-card {
    ion-card-header {

    }

    ion-card-content {
      .user-pic {
        display: inline-block;
        width: 31%;
      }

      .user-data {
        position: relative;
        top: -5px;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }


  ion-content {

    .scroll-content {
      overflow-y: hidden;
    }

    .content-background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0.6;
    }
  }



}
