page-home {

  ion-header {
    ion-icon {
      // color: white;
      // font-size: 16px;
    }
  }

  ion-content {
    background-image: url("../assets/img/backgrounds/stretching1.jpg");
    background-position: 40% center;
    background-size: cover;

    .user-card {
      background-color: rgba(255, 255, 255, 0.8);

      ion-card-header {
        color: color($colors, main);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }

      ion-card-content {
        .user-pic {
          padding: 2px;

          img {
            box-shadow: 3px 3px 8px #444;
            border-radius: 10px;  // partially rounded corners
            // border-radius: 100%; // full circular image

          }
        }

        .user-data {

          p {
            color: color($colors, main);
            font-size: 16px;
            font-weight: 600;

            &:first-child {
              font-size: 20px;
            }

          }
        }
      }
    }

    .has-refresher > .scroll-content {
    }

    .scroll-content {
      background-color: rgba(255, 255, 255, 0)!important;
      border-top: 0px solid #ddd!important;
    }


    .workout-list {
      background-color: rgba(255, 255, 255, 0.8);

      .loading-spinner {
        text-align: center;
        font-size: 14px;
        margin: 25px;
        color: color($colors, main);
      }

      ion-card-header {
        color: color($colors, main);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: -10px;
      }

      .workout-card {
          margin-top: 10px;

          ion-card-header {
            font-size: 18px;
            font-weight: 400;
          }

          ion-card-content {
            font-size: 20px;

            p.pro-name {
              font-style: italic;
              font-size: 16px
            }

            p.schedule {
              font-size: 20px;
            }

            p.sport {
              font-size: 16px;
            }
          }

          &:first-child {
          }
      }

    }
  }



}
