
<ion-header>
  <ion-navbar color="main" >
    <ion-title>{{workout?.name}}</ion-title>
    <button *ngIf="isOwner()" margin-right ion-button icon-only class="more" (click)="manage()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="workout-exercises-list" (swipe)="swipe($event)">

  <ion-list class="exercise-list">
    <div *ngFor="let exercise of workout?.exercises | dayFilter:selectedDay | markForHeader" >
      <ion-list-header color="main" class="group-name" *ngIf="exercise.first" (swipe)="swipe($event)">
        {{ exercise.exercise_group_id | groupName:workout?.sport.id | async }}
      </ion-list-header>
      <ion-item (swipe)="teste($event)">
        <h2>{{exercise.name}}</h2>
      </ion-item>
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <date-picker
    [weekdays]="workout?.schedule"
    (weekdayChanged)="changeDay($event)" >
  </date-picker>
</ion-footer>
