page-workout-page {

  .group-name {
    margin-bottom: 0;
    padding-top: 5px;
    background-color: #DFDFDFFF;
  }

  ion-content {
    background-color: #DFDFDFFF;
  }

  ion-item-sliding > ion-item:last-child {
    border: 0;
  }

  ion-footer {
    ion-row {

      button {
        width: 100%;
        height: 100%;

        ion-icon {
          font-size: 31px;
        }
      }

      .weekday-button {
        padding: 12px 0;
        font-size: 18px;
      }
    }
  }

}
