page-workout-page {

  .group-name {
    margin-bottom: 0;
    padding-top: 5px;
    background-color: #DFDFDFFF;
  }

  ion-content {
    background-color: #DFDFDFFF;
  }

  ion-item-sliding > ion-item:last-child {
    border: 0;
  }

}
