
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Treinos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="workout-exercises-list">

  <ion-list class="workout-list">
    <ion-list-header class="group-name">
      Ativos
    </ion-list-header>
    <ion-item-sliding *ngFor="let workout of workouts | activeOnly">
      <ion-item>
        <h2>{{workout.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="workout-list">
    <ion-list-header class="group-name">
      Inativos
    </ion-list-header>
    <ion-item-sliding *ngFor="let workout of workouts | activeOnly:false">
      <ion-item>
        <h2>{{workout.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
