
<ion-header>
  <ion-navbar color="main" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [ngClass]="this.mode == 'coach' ? 'title-adjustment' : ''">{{title}}</ion-title>
    <button *ngIf="isCoach()" margin-right ion-button icon-only class="more" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="workout-exercises-list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Aguarde...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="workout-list">
    <ion-list-header color="main" class="group-name">
      Ativos
    </ion-list-header>
    <ion-item *ngFor="let workout of workouts | activeOnly" (press)="onWorkoutClick(workout)" (tap)="open(workout)">
      <h2>{{workout.name + ' - ' + workout.sport.name}}</h2>
    </ion-item>
  </ion-list>

  <br/>
  <br/>

  <ion-list class="workout-list">
    <ion-list-header class="group-name group-name-inactive" color="light">
      Inativos
    </ion-list-header>
    <ion-item *ngFor="let workout of workouts | activeOnly:false" (click)="open(workout)" (press)="onWorkoutClick(workout)">
      <h2>{{workout.name + ' - ' + workout.sport.name}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
