page-workouts-list {

  .group-name {
    margin-bottom: 0;
    // padding-top: 5px;
    font-size: large;
    border-radius: 5px;
    height: 45px;
    // font-weight: bolder;
    // color: #DDD;
    // background-color: #222;

      ion-label {
        margin: 0;
      }
  }

  .group-name-inactive {
    color: color($colors, main);
  }
}
