page-contact-list {


  ion-content {
    background-image: url(../../assets/img/backgrounds/stretching.jpg);
    background-position: 45% center;
    background-size: cover;

    ion-list.contact-list {

      ion-item.contact-row {
        background-color: rgba(255, 255, 255, 0.7);

        ion-label {
          color: #444;

          h2 {
            font-weight: 500;
          }
        }
      }
    }

  }

}
