page-contact-list {

  ion-header {
    ion-title {
      float: left;
      margin-top: 12px;
    }

    button {
      float: right;
    }
  }

  ion-content {
    background-image: url(../../assets/img/backgrounds/stretching.jpg);
    background-position: 45% center;
    background-size: cover;

    ion-list.contact-list {

      .loading-spinner {
        text-align: center;
        font-size: 14px;
        margin: 25px;
        color: color($colors, main);
      }

      ion-item.contact-row {
        background-color: rgba(255, 255, 255, 0.7);

        ion-label {
          color: #444;

          h2 {
            font-weight: 500;
          }
        }
      }
    }

  }

}
