<ion-row class="date-picker-row">
  <ion-col col-auto>
    <button color="light" ion-button icon-only (click)="previousWeekDay()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </button>
  </ion-col>
  <ion-col>
    <button color="light" class="weekday-button" ion-button (click)="today()">{{ selectedWeekday | weekday:'fullname' }}
    </button>
  </ion-col>
  <ion-col col-auto>
    <button color="light" ion-button icon-only (click)="nextWeekDay()">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
    </button>
  </ion-col>
</ion-row>
