


  ion-row.date-picker-row {

    button {
      width: 100%;
      // height: 100%;
      color: color($colors, main);

      ion-icon {
        font-size: 31px;
      }
    }

    .weekday-button {
      // padding: 12px 0;

      height: 80%;
      font-size: 18px;
    }
  }


